@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-collapsed #main {
  @apply pl-[calc(60px+16px)] lg:pl-[calc(80px+28px)]
}

.sidebar-collapsed #header {
  @apply left-[60px] lg:left-[calc(80px+28px)]
}

.link-shape {
  border-width: 18px 18px 18px 10px;
  border-style: solid;
  border-color: transparent transparent transparent #FFC831;
}

.link-shape::after {
  content: "";
  position: absolute;
  left: -7px;
  top: -1px;
  width: 10px;
  height: 11px;
  background: #FFC831;
  border-top-right-radius: 100%;
  transform: rotate(37deg);
}

.hide-scroll-bar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}